version: '3.9'

services:
  db:
    image: postgres:18-alpine
    env_file:
      - .env
    ports:
      - "${DB_PORT}:5432"
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - mashrook-network
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8080:8080"
    environment:
      - DB_CONNECTION_STRING=${DB_CONNECTION_STRING}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
    networks:
      - mashrook-network
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - server
    ports:
      - "3000:3000"
    networks:
      - mashrook-network

volumes:
  postgres_data:
    name: ${APP_NAME:-mashrook-app}_postgres_data

networks:
  mashrook-network:
    driver: bridge