spring:
  application:
    name: mashrook
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:${DB_CONNECTION_STRING}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    validate-migration-naming: true
    validate-on-migrate: true
    driver-class-name: org.postgresql.Driver
  jackson:
    property-naming-strategy: SNAKE_CASE

server:
  servlet:
    context-path: /api
  port: 8080

logging:
  level:
    root: info